/*
Theme Name: Random Background
Theme URI: http://www.rankerzseo.com/themes/index.php?wptheme=Random%20Background
Description: Random background image with transparent content area. A unique and seo friendly wordpress theme by <a href="http://www.rankerzseo.com>Rankerz SEO Company</a>. Place your own images in custom folder.
Version: 1.0.1
Tags: fixed width, orange, two columns, widgets, widget ready, valid CSS, simple, clean, transparent, random, background, travel
The CSS/XHTML is released under GPL:  http://www.opensource.org/licenses/gpl-license.php
*/

* {
	margin: 0;
	padding: 0;
}

a {color: #963;}
a:hover {color: #C60;}
body {
	color: #fff;
	font: normal 11px Arial, Helvetica, sans-serif;
	float: center;
	width: 100%;
	background: url('images/background.jpg') fixed no-repeat;
	background-color: black;
	background-position: center top; 
}
.title  {
font-size: 24px;
}
p,code,ul {padding-bottom: 1.2em;}
li {list-style: none;}
h1 {
	font: normal 14px Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
}



h1,h2,h3 {padding-top: 6px; color: #FF9900}
h1 a,h2 a,h3 a {padding-top: 6px; color: #FF9900; text-decoration: none;}
h1 a:hover,h2 a:hover,h3 a:hover {padding-top: 6px; color: #fff; text-decoration: underline;}
.clear {clear: both;}
/* structure */
.container {
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 0px 0px;
	width: 780px;
}
/* header */
.top {
	padding: 0px 10px 0;
}
.all {

}
/* title */
.header {
	font-size: 14px;
	height: 75px;
	margin: 0 auto;
	padding: 0px 0px 0px;
	width: 780px;
}

#logo {
	width: 780px;
	height: 75px;
	margin: 0 auto;
	background: url(images/header.png) no-repeat left top;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding: 10px 5px 0 25px;
	font-size: 32px;
	color: #fff;
	width:755;
	text-align:center;
}

#logo h2 {
	padding: 0px 0 0 25px;
	font-size: 11px;
	color: #fff;
	width:755;
	text-align:center;
}
#logo a {
	color: #fff;
}

/* navigation */
.navigation {	
	background: url(images/header_bg.png);
	height: 41px;
}

.navigation ul {
list-style: none;
}

.navigation li {
display: inline;
}

.navigation a {	border-right: 1px solid #ffffff;
	color: #ffffff;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 20px;
	text-decoration: none;
}
.navigation a:hover {background: #fdba15; color: #ffffff; text-decoration: underline}
/* sub navigation */
.sidenav {
	float: right;
	width: 210px;
	color:#000000;
	padding-top:15px;
}
.sidenav2 {
	float: right;
	width: 210px;
	background: url(images/sidenav_border.png) repeat-y;
}
.sidenav3 {
	float: right;
	width: 210px;
	background: url(images/sidenav_border_bottom.png);
	background-repeat: no-repeat;
	background-position:bottom;
}
	
.sidenav h2 {
	color: #000;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
    border-bottom: 1px solid #FF9900;
	width: 95%;
}
.sidenav ul {
	padding: 10px;
    border: 0;
}

.sidenav ul ul {
	padding: 0;}

.sidenav li {border: 0px}
.sidenav li a {
	font-size: 13px;
	font-weight: 600;
	color: #996633;
	display: block;
	padding: 5px 0 5px 5%;
	text-decoration: none;
	width: 95%;
}
.sidenav li a:hover {
	background: #f0ee81;
	color: #000;	
}

.sidenav li li {
border-bottom: 1px dotted #f0ee81;
}

/* content */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 16px;
	width: 531px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li, .content ol {
	margin-left: 18px;
}
.content p {font-family: Arial, Helvetica, sans-serif;}

/* footer */
#footer {
	background: url(images/bgfooter.png) no-repeat;
	color: #FFF;
	font: bold 10px Arial, Helvetica, sans-serif;
	text-align: center;
	height: 60px;
	padding-top: 30px;
}
#footer p
{
padding: 0px;
margin: 0px;
}
#footer a, #footer a:hover {color: #FFF;}

/******************* style comments ***********************/
#comment_area {
	margin-top:15px;
}
textarea.txtcomment
{
	width:470px;
	height:150px;
	border:1px solid #867B1C;
}

input[type="submit"],#submit
{
	padding:8px;
	border:1px solid #867B1C;
	background:#f0ee81;	color:#000000;
	font-weight:bold;
	margin-top:3px;
	margin-bottom:3px;
}
/************ navigation **********/
div.navigationbottom
{
	margin-bottom:20px;
}
div.leftnav
{
	float:left;
}

div.rightnav
{
	float:right;
}
/********************* Calendar *******************/
#calendar1, #calendar_wrap 
{
	padding: 20px 10px 20px 10px;
}
#calendar_wrap 
{
	margin-bottom: 10px;
}
#calendar table, #wp-calendar
{
	width: 100%;
	text-align: center;
}

#calendar thead, #wp-calendar thead
{
}
#calendar tbody td, #wp-calendar tbody td{	border: 1px solid #F1F1F1;}
#calendar #prev, #wp-calendar #prev{	text-align: left;}
#calendar #next, #wp-calendar #next{	text-align: right;}
#calendar tfoot a, #wp-calendar tfoot a{	text-decoration: none;	font-weight: bold;}
#calendar #now, #wp-calendar #now, #wp-calendar #today
{	background: #8E8210;	border: 1px solid #D6CE84;	font-weight: bold;	color: #ffffff}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.content .categor
{
border-top: dotted #ffffff;
border-bottom: dotted #ffffff;
}

#comment_text {
width: 475px;
float:left;
word-wrap: break-word;
break-word: break-all;
}

#author, #email, #url
{
border: 1px solid #666666}